* {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 50%;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#mission {
    background-image: url('/resources/images/skyscrapers.jpg');
    height: 300px;
    display: flex;
    align-items: center;

}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    align-content: center;
}

#portfolio {
    
    display: flex;
    flex-direction: column;
}

.portfolio-container {
    display: flex;
    
    
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    display: flex;
    align-items: center;
}

.team-container {
    background-image: url('/resources/images/blurred-road.jpg');
    display: flex;
    color: white;
    justify-content: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member h3, .team-member p {
    display: inline;
}
