* {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}


a {
    color: black;
}

body {
    font-size: 1.2rem;
    font-family: 'Lexend Mega', sans-serif;
}

a:hover {
    font-weight: 700;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

header {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}

#mission {
    background-image: url('/resources/images/skyscrapers.jpg');
    height: 300px;
    display: flex;
    align-items: center;

}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    align-content: center;
    padding: 2em 0;
}

#portfolio {
    padding: 2em;
    
}

.portfolio-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}



.box {
    
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    padding: 1em;
    width: 400px;
    
}

@media (max-width: 768px){
    .box {
        flex-direction: column;
        width: 100%;
    }
}

.box span {
    max-width: 50%;
    position: relative;
}

.box img {
    
    max-width: 50%;
}




.team-container {
    background-image: url('/resources/images/blurred-road.jpg');
    display: flex;
    color: white;
    justify-content: center;
    padding: 1em 0;
    
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    margin: 1em 0;
    
}

.team-member img {
    margin-bottom: 1em;
    width: 200px;
    height: auto;
}

footer {
    width: 100%;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}

footer p {
    font-size: 1rem;
}


@media (max-width: 600px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team-container {
        flex-direction: column;
        align-items: center;
    }
}